# **Dicionário**

id_ocorrencia - identificação única da ocorrência

cidade - A cidade onde aconteceu a ocorrência

população - Pupulação da cidade

horario - horario da ocorrencia com data e hora

vtr - viatura empenhanha na ocorrencia

mtcl - matricula do militar ou cpf do Bombeiro comunitario

militar_bc - identificação se o individuo é Bombeiro Comunitário ou Bombeiro
Militar

bc_indenizado - Identifica se o Bombeiro Comunitario estava no serviço sendo
pago(indenizado) ou não

obm - Organização Bombeiro Militar que estava na ocorrência

coordenada_obm - Coordenada da organização Bombeiro Militar

coordenada_ocorrencia - Coordenada da Ocorrência

lat_ocorrencia - Latitude ocorrência

lon_ocorrencia - Longitude Ocorrência

tipo - Tipo da ocorrência, pode ser Atendimento pré-hospitalar - APH, incendio, acidente e outros.

subtipo - especifica o tipo, num APH, pode especificar desmaio, nem sempre é preenchido.

tempo_resposta - Tempo do acionamento até a chegada ao local da ocorrêcia, pode ser um dado que estaja bem falho, pois acontece do bombeiro esquecer de clicar no botão

tempo_total_empenho - tempo total da saída da obm até a chegada a obm novamente.
firecast - indica se uma viatura utilizou o sistema "firecast" para dar J-9, J-10, J-11 e J-12 nos deslocamentos

origem_samu - Se foi um repasse da ocorrência que era do samu

vitima - geração no sistema, talvez de pra gerar o número de vítimas, nome, idade, alguns sinais vitais.

In [1]:
import pandas as pd

# Load the data into a DataFrame
df = pd.read_csv('Data/datasets/datasetTratadoFloripa5.csv', sep=',', thousands=',')

# Drop duplicates based on 'NrOcorrência'
X = df.drop_duplicates(subset="NrOcorrência", keep=False)

# Select the columns of interest
X = X.loc[:, ['NrOcorrência', 'Cidade', 'Data/Hora', 'lat_ocorrencia', 'lon_ocorrencia', 'TipoOcorrênciaEncerramento']]

# Count the number of missing values in 'lat_ocorrencia' and 'lon_ocorrencia' columns
missing_lat = X['lat_ocorrencia'].isna().sum()
missing_lon = X['lon_ocorrencia'].isna().sum()

print("Number of missing values in 'lat_ocorrencia':", missing_lat)
print("Number of missing values in 'lon_ocorrencia':", missing_lon)

Number of missing values in 'lat_ocorrencia': 9
Number of missing values in 'lon_ocorrencia': 9

In [2]:
X

,NrOcorrência,Cidade,Data/Hora,lat_ocorrencia,lon_ocorrencia,TipoOcorrênciaEncerramento
0,10085306.0,Florianópolis,2018-01-01 01:07:47,-48.583567,-27.603720,ATENDIMENTO PRÉ-HOSPITALAR
1,10085307.0,Florianópolis,2018-01-01 01:51:00,-48.499719,-27.438892,ATENDIMENTO PRÉ-HOSPITALAR
2,10085308.0,Florianópolis,2018-01-01 01:51:00,-48.499704,-27.438914,OCORRÊNCIA NÃO ATENDIDA
3,10085311.0,Florianópolis,2018-01-01 02:34:00,-48.430948,-27.573438,ATENDIMENTO PRÉ-HOSPITALAR
4,10085313.0,Florianópolis,2018-01-01 04:56:00,-48.502000,-27.446556,ATENDIMENTO PRÉ-HOSPITALAR
...,...,...,...,...,...,...
64970,130319412.0,Florianópolis,2023-07-30 20:27:56,-48.400281,-27.456841,ATENDIMENTO PRÉ-HOSPITALAR
64971,130319424.0,Florianópolis,2023-07-30 20:49:08,-48.600708,-27.595756,ATENDIMENTO PRÉ-HOSPITALAR
64972,130319461.0,Florianópolis,2023-07-30 21:51:51,-48.504686,-27.678832,OCORRÊNCIA NÃO ATENDIDA
64973,130319468.0,Florianópolis,2023-07-30 22:20:41,-48.552170,-27.598435,ATENDIMENTO PRÉ-HOSPITALAR
64974,130319514.0,Florianópolis,2023-07-31 03:59:59,-48.405436,-27.452575,ATENDIMENTO PRÉ-HOSPITALAR

In [3]:
X = X.loc[X['TipoOcorrênciaEncerramento'] == 'ATENDIMENTO PRÉ-HOSPITALAR']
X

,NrOcorrência,Cidade,Data/Hora,lat_ocorrencia,lon_ocorrencia,TipoOcorrênciaEncerramento
0,10085306.0,Florianópolis,2018-01-01 01:07:47,-48.583567,-27.603720,ATENDIMENTO PRÉ-HOSPITALAR
1,10085307.0,Florianópolis,2018-01-01 01:51:00,-48.499719,-27.438892,ATENDIMENTO PRÉ-HOSPITALAR
3,10085311.0,Florianópolis,2018-01-01 02:34:00,-48.430948,-27.573438,ATENDIMENTO PRÉ-HOSPITALAR
4,10085313.0,Florianópolis,2018-01-01 04:56:00,-48.502000,-27.446556,ATENDIMENTO PRÉ-HOSPITALAR
5,10085314.0,Florianópolis,2018-01-01 05:25:00,-48.446964,-27.609410,ATENDIMENTO PRÉ-HOSPITALAR
...,...,...,...,...,...,...
64968,130319356.0,Florianópolis,2023-07-30 19:04:54,-48.397082,-27.452763,ATENDIMENTO PRÉ-HOSPITALAR
64970,130319412.0,Florianópolis,2023-07-30 20:27:56,-48.400281,-27.456841,ATENDIMENTO PRÉ-HOSPITALAR
64971,130319424.0,Florianópolis,2023-07-30 20:49:08,-48.600708,-27.595756,ATENDIMENTO PRÉ-HOSPITALAR
64973,130319468.0,Florianópolis,2023-07-30 22:20:41,-48.552170,-27.598435,ATENDIMENTO PRÉ-HOSPITALAR
64974,130319514.0,Florianópolis,2023-07-31 03:59:59,-48.405436,-27.452575,ATENDIMENTO PRÉ-HOSPITALAR

In [4]:
X["Date"] = pd.to_datetime(X["Data/Hora"], infer_datetime_format=True).dt.floor('1D')
missing_lat = X['lat_ocorrencia'].isna().sum()
missing_lon = X['lon_ocorrencia'].isna().sum()

print("Number of missing values in 'lat_ocorrencia':", missing_lat)
print("Number of missing values in 'lon_ocorrencia':", missing_lon)
X

Number of missing values in 'lat_ocorrencia': 3
Number of missing values in 'lon_ocorrencia': 3

/tmp/ipykernel_119059/4007897682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["Date"] = pd.to_datetime(X["Data/Hora"], infer_datetime_format=True).dt.floor('1D')

,NrOcorrência,Cidade,Data/Hora,lat_ocorrencia,lon_ocorrencia,TipoOcorrênciaEncerramento,Date
0,10085306.0,Florianópolis,2018-01-01 01:07:47,-48.583567,-27.603720,ATENDIMENTO PRÉ-HOSPITALAR,2018-01-01
1,10085307.0,Florianópolis,2018-01-01 01:51:00,-48.499719,-27.438892,ATENDIMENTO PRÉ-HOSPITALAR,2018-01-01
3,10085311.0,Florianópolis,2018-01-01 02:34:00,-48.430948,-27.573438,ATENDIMENTO PRÉ-HOSPITALAR,2018-01-01
4,10085313.0,Florianópolis,2018-01-01 04:56:00,-48.502000,-27.446556,ATENDIMENTO PRÉ-HOSPITALAR,2018-01-01
5,10085314.0,Florianópolis,2018-01-01 05:25:00,-48.446964,-27.609410,ATENDIMENTO PRÉ-HOSPITALAR,2018-01-01
...,...,...,...,...,...,...,...
64968,130319356.0,Florianópolis,2023-07-30 19:04:54,-48.397082,-27.452763,ATENDIMENTO PRÉ-HOSPITALAR,2023-07-30
64970,130319412.0,Florianópolis,2023-07-30 20:27:56,-48.400281,-27.456841,ATENDIMENTO PRÉ-HOSPITALAR,2023-07-30
64971,130319424.0,Florianópolis,2023-07-30 20:49:08,-48.600708,-27.595756,ATENDIMENTO PRÉ-HOSPITALAR,2023-07-30
64973,130319468.0,Florianópolis,2023-07-30 22:20:41,-48.552170,-27.598435,ATENDIMENTO PRÉ-HOSPITALAR,2023-07-30
64974,130319514.0,Florianópolis,2023-07-31 03:59:59,-48.405436,-27.452575,ATENDIMENTO PRÉ-HOSPITALAR,2023-07-31

In [5]:
X['Date'].groupby([X.Date.dt.year, X.TipoOcorrênciaEncerramento]).agg('count')

Date  TipoOcorrênciaEncerramento
2018  ATENDIMENTO PRÉ-HOSPITALAR    4565
2019  ATENDIMENTO PRÉ-HOSPITALAR    5038
2020  ATENDIMENTO PRÉ-HOSPITALAR    3744
2021  ATENDIMENTO PRÉ-HOSPITALAR    4284
2022  ATENDIMENTO PRÉ-HOSPITALAR    4668
2023  ATENDIMENTO PRÉ-HOSPITALAR    2983
Name: Date, dtype: int64

In [7]:
# Count the number of NaN values in 'lat_ocorrencia' and 'lon_ocorrencia' before dropping
num_nan_before = X['lat_ocorrencia'].isnull().sum() + X['lon_ocorrencia'].isnull().sum()

# Drop the rows with NaN values in 'lat_ocorrencia' and 'lon_ocorrencia'
df_dropped = X.dropna(subset=['lat_ocorrencia', 'lon_ocorrencia'])

# Count the number of NaN values in 'lat_ocorrencia' and 'lon_ocorrencia' after dropping
num_nan_after = df_dropped['lat_ocorrencia'].isnull().sum() + df_dropped['lon_ocorrencia'].isnull().sum()

# Calculate the number of rows dropped
num_rows_dropped = len(X) - len(df_dropped)

print(f"Number of NaN values in 'lat_ocorrencia' and 'lon_ocorrencia' before dropping: {num_nan_before}")
print(f"Number of NaN values in 'lat_ocorrencia' and 'lon_ocorrencia' after dropping: {num_nan_after}")
print(f"Number of rows dropped: {num_rows_dropped}")

Number of NaN values in 'lat_ocorrencia' and 'lon_ocorrencia' before dropping: 6
Number of NaN values in 'lat_ocorrencia' and 'lon_ocorrencia' after dropping: 0
Number of rows dropped: 3

In [9]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters = 4, init ='k-means++', random_state = 12)
kmeans.fit(df_dropped[df_dropped.columns[3:5]]) # Compute k-means clustering.
df_dropped['cluster_label'] = kmeans.fit_predict(df_dropped[df_dropped.columns[3:5]])
centers = kmeans.cluster_centers_ # Coordinates of cluster centers.
labels = kmeans.predict(df_dropped[df_dropped.columns[3:5]]) # Labels of each point


Data = pd.DataFrame()
#print(Data)
#criar coluna X_dia

df_dropped['cluster_label'] = df_dropped['cluster_label'].astype('category')
v = df_dropped.groupby(['Date', 'cluster_label']).size().unstack(fill_value=0)
#binary_z = (z > 0).astype(int) #changing to binary dataset
#v = binary_z

print(v.info)

/home/dsciaux1/PycharmProjects/pythonProject/venv/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/dsciaux1/PycharmProjects/pythonProject/venv/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

<bound method DataFrame.info of cluster_label   0   1  2  3
Date
2018-01-01     10  12  0  0
2018-01-02     11   4  0  0
2018-01-03     12   8  0  0
2018-01-04      9   4  0  0
2018-01-05     13   6  0  0
...            ..  .. .. ..
2023-07-27      9   7  0  0
2023-07-28     11   4  0  0
2023-07-29      5   6  0  0
2023-07-30      9   3  0  0
2023-07-31      0   1  0  0

[2037 rows x 4 columns]>

/tmp/ipykernel_119059/3829627048.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['cluster_label'] = kmeans.fit_predict(df_dropped[df_dropped.columns[3:5]])
/tmp/ipykernel_119059/3829627048.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['cluster_label'] = df_dropped['cluster_label'].astype('category')

In [10]:
v.sum(axis=0)

cluster_label
0    17886
1     7350
2       18
3       25
dtype: int64